* {
  padding: 0;
  scroll-behavior: smooth;
	margin: 0;
}

a, button, .btn, * a, * button, * .btn {
    transition: all ease-in-out .3s;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.form-check-label {
  font-family: bar200;
}

.form-control[readonly],
.form-control.datetimepickerJS[disabled] {
	background-color: #FFF;
}

textarea.form-control {
  height: 120px!important;
  resize: none!important
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;font-family: bar700;
    font-size: 12px;
    color: #003DA6;
    z-index: 10;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
-webkit-transform: translateY(-158%);
        transform: translateY(-158%);
    font-size: 14px;
}

.form-control:focus {
    box-shadow: 0 2px 0 0 #DADADA;
    border-color: #DADADA;
    background-color: transparent;
}

.form-control.filled {
    border: 1px solid #003DA6;
    box-shadow: 0 1px 0 0 #003DA6!important;
}


.form-control.filled {
  border-top: 1px solid #003DA6!important;
  border-right: 1px solid #003DA6!important ;
  border-left: 1px solid #003DA6!important;  
  box-shadow: 0 1px 0 0 transparent !important;
}

.form-control,
.custom-select {
  color: #A5A6AC;
  background-color: #fff;      
  font-size: 14px;
  border-radius: 0px;
  font-size: 12px;
  padding: 8px ;
  font-family: bar700;
  outline: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}
body {
  font-family: bebas400;
  font-size: 16px; 
  scroll-behavior: smooth;
}

/*
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
*/

.text {
    color: #515151;
    font-size: 20px;
}

* span {font-size: 16px;}
* h1 {font-size: 34px;}
* h2 {	font-size: 24px;}
* h3 {	font-size: 20px;}
* h4 {font-size: 18px;}
* h5 { font-size: 16px; }

@font-face {
  font-family: bar200;
  src:url(../fonts/Barlow/Barlow-LightItalic.ttf);
}

@font-face {
    font-family: bar400;
    src:url(../fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: bar500;
  src:url(../fonts/Barlow/Barlow-Medium.ttf);
}

@font-face {
  font-family: bar700;
  src:url(../fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: bebas400;
  src:url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: bebas700;
  src:url(../fonts/BebasNeue-Bold.ttf);
}


.amarrillo { color: #FFCB04; }
.naranja { color: #EB611C; }

.bg-transparent { background-color: transparent;}

.font-36 { font-size: 36px;}
.font-34 { font-size: 34px;}
.font-32 { font-size: 32px;}
.font-30 { font-size: 30px;}
.font-28 { font-size: 28px;}
.font-26 { font-size: 26px;}
.font-24 { font-size: 24px;}
.font-22 { font-size: 22px;}
.font-20 { font-size: 20px;}
.font-18 { font-size: 18px;}
.font-16 { font-size: 16px;}
.font-16 { font-size: 15px;}
.font-14 { font-size: 14px;}

.map-canvas { 
  width: 100%;
  height: 200px;
  background-color: #58595B;
  position: relative;
}

.bar200 {font-family: bar200; }
.bar400 {font-family: bar400; }
.bar500 {font-family: bar500; }
.bar700 {font-family: bar700; }

.bebas  {font-family: bebas400; }
.bebas700  {font-family: bebas700; }

.gris {  color:#58595B;}
.negro { color: #000;}
.blanco { color:#FFFFFF; }

.azul10 { color:#96DAEA ;}
.azul20 { color:#00A0DF ;}
.azul30 { color:#0075C5 ;}
.azul40 { color:#003DA6 ;}
.azul50 { color:#001B71 ;}

.bg-azul20 { background-color: #00A0DF;}
.bg-blanco { background-color: #fff;}

.border-50 { border-radius: 16px 16px!important;}

.filtros .form-control:focus {
  border-top: 1px solid #003DA6!important;
}

.filtros .form-control, .filtros .custom-select {
  border: 1px solid #003DA6;
}

.content_preguntas {
  min-height: 60vh;
}

.btn {
  border-radius: 0;
  font-family: bar700;
  font-size: 16px;
}

.btn-outline-primary {
  color: #003DA6;
  border-color: #003DA6;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #003DA6;
  border-color: #003DA6;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

.btn-light {
  background-color: #fff;
  color: #003DA6;
  border-color: #003DA6;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:before{
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
  opacity: 0;
  border-radius: 0px;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);        
 }

 .nav-link:hover:before{
  opacity:1;
  transform: translateY(15px)
 }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
}


.owl-theme.owl-home .owl-nav + .owl-dots {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  bottom: 8px;
}

.owl-distribuidor.owl-theme .owl-nav  {
  position: absolute;
  top: calc(100% - 60%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: 0;
}


.owl-testimonios.owl-theme .owl-nav  {
  position: absolute;
  top: calc(100% - 50%);
  width: auto;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  z-index: 1;
}

.owl-testimonios.owl-theme .owl-nav [class*="owl-"],
.owl-distribuidor.owl-theme .owl-nav [class*="owl-"]  {
  background-color: transparent;
  border-radius: 0;
  border: 0px solid transparent;
}

.content_galerias .owl-theme .owl-dots .owl-dot.active span,
.content_galerias .owl-theme .owl-dots .owl-dot:hover span {
  background: #003DA6;
}

.content_galerias .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  border:1px solid #003DA6 ;
}

.content_galerias .owl-theme.owl-home .owl-nav + .owl-dots {
  margin-top: 10px;
  position: relative;
}
.imgHeader { max-width: 30px; width: 100%;}

.main {  
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    min-height: 15vh;
}

.breadcrumb-item.active {color: #fff;}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: "/";
}

.wrrape-banner {
    background-position: top;
    background-size: cover;
    -moz-background-attachment: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 0 2.2em;
    text-align: center;
    height: 240px;
}

.wrrape-banner::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}


.content_contacto, .content_showus {
  background-image: url(../images/bg-contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.content_nosoForm {
  background-image: url(../images/banner_productos.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 500px;
}

.content_nosoForm .form-control {
  background: transparent;
  color: #A5A6AC;
}

.content_nosoForm .form-label {
  color: #fff;
}

.homeForm .form-label {
  color: #A5A6AC;
}

.homeForm .focused .form-label {
  -webkit-transform: translateY(-158%);
      transform: translateY(-158%);
  font-size: 14px;
}
  
.homeForm .form-control:focus {
    border-top: 1px solid #fff!important;
    box-shadow: 0 2px 0 0 #DADADA;
    border-color: #DADADA;
    background-color: transparent;
}

.homeForm textarea {
  height: 100px!important;
}

.homeForm .focused .form-label {
  color: #fff;
}


.homeForm .form-control.filled {
  border-right: 0!important;
  border-left: 0!important;
  border-top: 0!important;
  box-shadow: 0 1px 0 0 #DADADA!important;
}


.content_nosoForm .form-group {
  position: relative;
  margin-bottom: 2.4rem;
}

.content_nosoForm .form-control:focus {
  border-top: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #DADADA;
  border-color: #DADADA;
  background-color: transparent;
}

.imgNtc {
    max-width: 100px;
}

.nav-link {
    color: #fff;
}

.logoFooter {
    max-width: 240px;
    width: 100%;
}

.logosFooter {
    max-width: 140px;
    width: 100%;
    height: 53px;
    object-fit: contain;
    object-position: left center;
}



.search {
  width: 100px;
  height: calc(1em + .75rem + 2px);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  font-family: bebas400;
}
/*
.search:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease;
}
*/
.search.open {
  width: 260px;
}

@media (min-width: 992px) and (max-width: 1600) {
  .search.open {
      width: 100%;
      max-width: 300px;
    }

    
    
}

.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 8px;
  font-size: 16px;
  visibility: hidden;
}
.search-box:focus {
  outline: none;
}

.search-button {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  padding: 5px;
  cursor: pointer;
}

.search-icon {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  border: 2px solid #fff;
  display: block;
  position: relative;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: "";
  width: 2px;
  height: 11px;
  position: absolute;
  right: -3px;
  top: 11px;
  display: block;
  background-color: #fff;
  transform: rotate(-43deg);
  transition: all 0.5s ease;
  border-radius: 3px;
}
.search-icon:after {
  content: "";
  width: 2px;
  height: 11px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.open .search-box {
  background: #ffffff45;
  visibility: initial;
}
.open .search-icon {
  margin: 0 5px 0 0 ;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 6px;
  top: 6.6px;
  height: 6px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 6px;
  top: 3px;
  height: 6px;
}

.nav-item:nth-child(1) {
  margin: 0 5px 0 0;
}

.nav-item {
  margin: 0 5px;
}

.show {display:block;}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #001B71;
}

.nav-pills .nav-link {
  font-family: bebas700;
  font-size: 16px;
  color: #003DA6;
  background-color: #96DAEA;
  margin: 0!important;
  text-transform: uppercase;
  border-radius: 0;
}

.tab-main-img {
  height: 235px;
  /*-webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;*/
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.tab-main-img img {
  height: 235px;
  object-fit: cover;
}

.tab-main-img img {
  transition: all ease-in-out .3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.tab-main-img .bg-tab-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all ease-in-out .3s;
}

.tab-main-img:hover .bg-tab-main {
  background-color: rgba(0,0,0,.4);
}

.tab-main-img:hover img {
  /*-webkit-background-size: 110% !important;
  background-size: 110% !important;*/
  width: 110%;
  left: -5%;
  top: 0;
}

.tab-main-img .sub-main-tab {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  right: -66px;
  transition: all ease-in-out .3s;
}

.tab-main-img:hover .sub-main-tab {
  right: -1px;
}

.tab-main-img .sub-main-tab .title-main-tab,   .tab-main-img .sub-main-tab a {
  display: inline-block;
  transition: all ease-in-out .3s;
}

.tab-main-img .sub-main-tab .title-main-tab {
  width: 150px;
  height: 60px;
  background-color: #FFF;
  font-family: bar700;
  text-transform: uppercase;
  color: #003DA6;
  padding: 10px 15px 10px 30px;
  position: relative;
  margin-right: -3px;
  word-break: break-word;
}

.tab-main-img .sub-main-tab .title-main-tab:before {
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: #0075C5;
  left: 12px;
  top: 30px;
  font-size: 12px;    
}

.tab-main-img .sub-main-tab a {
  padding: 6px 12px;
  color: #FFF;
  width: 65px;
  font-family: bar700;
  text-align: center;
  background-color: #0075C5;
  vertical-align: bottom;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: -1px;
}
  

.homeSomos {
  background-position: left;
}

.homeLastcontent {
  background-image: url(../images/bg-contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.homePqrs {
  background-image: url(../images/pqrs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.text-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 160px;
  -webkit-line-clamp: 3;
}

.titulo-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 70px;
  -webkit-line-clamp: 2;
}

.user-testimonio { 
  max-width: 100px;
}


.card {
  border-radius: 0px;
}

.accordion .card-body {
  background-color: #00A0DF;
  color: #fff;
  font-size: 16px; font-family: bar400;
}

.card-header {
  border: 1px solid #003DA6;
  text-align: center;padding: .25rem 1.25rem;
  border-radius: 0px!important;
}

.card-header .btn {
  font-size: 24px;  
  text-transform: uppercase;
  color: #003DA6; font-family: bebas700;
}

#pills-certificados {
  background-color:#F1F1F1 ;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pills-certificados .owl-theme .item a {
 padding: 10px;
 display: flex;
 height: 100px;
 justify-content: center;
 align-items: center;
}

#pills-certificados .owl-theme .item a img {
  width: 100%;
  max-width: 120px;
}

.accordion > .card > .card-header {
  margin-bottom: 0;
  border-bottom: 0px solid transparent;
}

.accordion > .card:nth-last-child(1) > .card-header {
  border-bottom: 1px solid #003DA6;
}

.content_showus_img {
   position: absolute;
   bottom: 0;
   max-width: 520px;
   right: 0;
   z-index: 0;
}

.bg-homeproductos {
  background-image: url(../images/fondo_productoshome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
	padding: 10px 0px;
	overflow: hidden;
}

.items_beneficios img {
  max-width: 200px;
}

#Gallery li {
  position: relative;
}

.style-2 {
  border: 5px solid #0075C5;
  border-radius: 0 105px 0 105px;
  z-index: 1;
  padding: 5px 4px ;
}

.style-2 img {
  border-radius: 0 0 0 105px ;
  z-index: 0;
  position: relative;
  bottom: -5px;
  left: 5px;
}

#lg-counter {
  display: none;
}

#Gallery li img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

#Gallery li:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

#Gallery .lslide:hover .gallery-poster > img {
  opacity: 1;
}

#Gallery .lslide .gallery-poster {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

#Gallery .lslide  .gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  max-width: 20px;
  height: 20px;
}

#Gallery .lslide:hover .gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

#Gallery .lslide .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

#Gallery .lslide .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

#Gallery .lslide .justified-gallery > a:hover .gallery-poster > img {
  opacity: 1;
}

#Gallery .lslide .justified-gallery > a .gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

#Gallery .lslide .justified-gallery > a .gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

#Gallery .lslide .justified-gallery > a:hover .gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}



footer {
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
	padding: 10px 0px;
	overflow: hidden;
}

footer .font-22.bar700 {
  border-bottom: 4px dotted #fff;
  padding-bottom: 0.5em;}


.owl-menu .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 166px;
  -webkit-transition: all .7s ease-out;
  -moz-transition: all .7s ease-out;
  -ms-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.owl-menu .item a:hover  {
  color: #003DA6 ;
  
  text-decoration: none;
  font-family: bar700;
}

.dropdown .dropdown-menu  {
  background-color: #fff!important;
}

.dropdown .dropdown-menu .nav-link.active,
.dropdown .dropdown-menu .show > .nav-link {
    color: #fff;
    background-color: #001B71;
}

.dropdown .dropdown-menu .nav-link {
    color: #7B868C;
    background-color: #fff;
}

.dropdown .dropdown-menu .nav-link::before {
  display: none;
}

.content_galerias .item img {
  max-width: 200px;
  margin:  0 auto ;
}

.filtros #button-addon2 img {
  max-width: 25px;
  margin-top: -5px;
}

header .nav-item button {
  background-color: transparent;;
  border: 0px solid transparent;
  text-align: left
}

#content_showus {
  position: absolute;
  top: -60px;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #003DA6;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #003DA6;
  background-color: transparent;
}

@media (max-width: 992px) { 

  .owl-distribuidor.owl-theme .owl-nav   {
    display: none;
   }

  header .nav-item button {
    background-color: transparent;
    width: 100%;
    text-align: left;
    border: 0px solid transparent
  } 

  #navbarNavDropdown, .nav-item {
    width: 100%;
  }

  .dropdown-menu {
    position: relative;    
    width: 100%;    
    max-width: 100%;    
    min-width: auto;    
    margin: 0;    
    border-radius: 0;
  }
  .nav-item:nth-child(1) {
      margin: 0;
  }

  .nav-item {
      margin: 0;
  }

  #navbar .nav-item:nth-last-child(1) {
    display: none;
  }

  .owl-menu.owl-carousel .owl-item img {
    max-width: 100px;
    margin: 0 auto;
  }

  .max-10 {
    max-width: 320px;
    margin: 0 auto;
  }

  .homePqrs {
    background-position: -5em;
}


    
}

@media (min-width: 992px) {  
  
  .owl-distribuidor.owl-theme .owl-nav .owl-prev {
    margin-left: -2.5em;
   }
  .owl-distribuidor.owl-theme .owl-nav .owl-next {
    margin-right: -2.5em;
   }

  .nav-item {
    margin: 0 5px 5px;
  }

  .homeSomos {
    min-height:  470px;
    background-image: url(../images/homeSomos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  

  .content_pqrs {
    background-image: url(../images/pqrs_carro.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
  }

  .owl-menu .item img {
    max-width: 46px;
    margin: 0 auto;
  }

  header .nav-item {
    margin:  0 1rem;
  }

  


  .dropdown:hover .dropdown-menu {
    -webkit-animation: slideHeight 250ms linear forwards;
    -moz-animation: slideHeight 250ms linear forwards;
    animation: slideHeight 250ms linear forwards;
  }

   .dropdown-menu {
    min-width: 29em;
    border-radius: 0px!important;
    max-width: 30em;
    max-height: 166px;
    overflow: hidden;      
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }

  @-webkit-keyframes slideHeight {
    from {
      height: 0;
    }
    to {
      height: 166px;
    }
  }
  @-moz-keyframes slideHeight {
    from {
      height: 0;
    }
    to {
      height: 166px;
    }
  }
  @keyframes slideHeight {
    from {
      height: 0;
    }
    to {
      height: 166px;
    }
  }
    
  .content-form {
      width: 75%;
  }

  footer {
      background-size: cover;
      background-position: center;
      position: relative;
  }

  #navbar {
    background-image: url(../images/menus.jpg);
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    height: 107px;
  }
}

#navbar {
    background-color: #003DA6;
    padding: 0;
    transition: all .7s ease-out;
}


